/* 미디어쿼리 스타일입니다. */

.width_1520 {
  max-width: 1520px;
  margin: 0 auto;
}

.research_main_bn {
  height: 500px;
  background-image: url(../research_images/research_main_bn.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.research_main_bn_text {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}

.research_sub_menu_box {
  margin: 25px 0 155px;
  display: flex;
  align-items: center;
}

.research_sub_menu_box p {
  font-size: 14px;
  font-weight: 400;
}

.research_sub_menu_box p:last-child {
  color: #023586;
}

.research_title_text h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 45px;
  position: relative;
}

.research_title_text h1::after {
  content: "";
  width: 130px;
  height: 3px;
  background-color: #a2c233;
  position: absolute;
  top: 0;
  left: 0;
}

.research_title_text h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 150px;
}

.research_sub_bn_1_box {
  background-image: url(../research_images/research_sub_bn_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 150px;
}

.research_intro {
  background-color: #f7f7f7;
  padding: 150px 0;
  margin-bottom: 150px;
}

.research_intro_title h3 {
  font-size: 48px;
  font-weight: 500;
  border-top: 3px solid #a2c233;
  display: inline-block;
  margin-bottom: 88px;
}

.research_intro_img img {
  width: 100%;
}

.research_info_title h3 {
  font-size: 48px;
  font-weight: 500;
  border-top: 3px solid #a2c233;
  display: inline-block;
  margin-bottom: 88px;
}

.research_info_box ul {
  display: flex;
  gap: 6.25%;
}

.research_info_box li {
  flex: 1;
}

.research_info_img img {
  width: 100%;
}

.research_info_text h3 {
  font-size: 26px;
  font-weight: 500;
  margin-top: 25px;
}

.research_info_text p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
}

.research_sub_bn_2_box {
  background-image: url(../research_images/research_sub_bn_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 200px;
}

.research_sub_bn_2_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

.research_sub_bn_2_text h3 {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}

.research_sub_bn_2_text a {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 60px;
  margin-top: 66px;
  transition: 0.5s;
}

.research_sub_bn_2_text a:hover {
  color: #000;
  background-color: #fff;
}
