/* 미디어쿼리 스타일입니다. */

.width_mobile {
  padding: 0 20px;
  margin: 0 auto;
}

.research_main_bn {
  height: 300px;
  background-image: url(../research_images/research_main_bn.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.research_main_bn_text {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.research_sub_menu_box {
  display: none;
}

.research_title_text h1 {
  font-size: 26px;
  font-weight: 400;
  margin: 75px 0 25px;
  position: relative;
}

.research_title_text h1::after {
  content: "";
  width: 67px;
  height: 2px;
  background-color: #a2c233;
  position: absolute;
  top: 0;
  left: 0;
}

.research_title_text h2 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 50px;
}

.research_sub_bn_1_box {
  background-image: url(../research_images/research_sub_bn_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 240px;
  margin-bottom: 50px;
}

.research_intro {
  background-color: #f7f7f7;
  padding: 50px 0;
  margin-bottom: 50px;
}

.research_intro_title h3 {
  font-size: 26px;
  font-weight: 500;
  border-top: 2px solid #a2c233;
  display: inline-block;
  margin-bottom: 30px;
}

.research_intro_img img {
  width: 100%;
}

.research_info_title h3 {
  font-size: 26px;
  font-weight: 500;
  border-top: 2px solid #a2c233;
  display: inline-block;
  margin-bottom: 88px;
}

.research_info_img img {
  width: 100%;
}

.research_info_text h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.research_info_text p {
  font-size: 16px;
  font-weight: 400;
  margin: 15px 0 50px;
}

.research_sub_bn_2_box {
  background-image: url(../research_images/research_sub_bn_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 320px;
  margin-top: 80px;
}

.research_sub_bn_2_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.research_sub_bn_2_text h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  color: #fff;
}

.research_sub_bn_2_text a {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 60px;
  margin-top: 36px;
  transition: 0.5s;
}

.research_sub_bn_2_text a:hover {
  color: #000;
  background-color: #fff;
}
