/* 미디어쿼리 스타일입니다. */

@media only screen and (min-width: 767px) {
  .width_1520 {
    max-width: 1520px;
    margin: 0 auto;
  }
}

.product_main_bn {
  height: 500px;
  background-image: url(../product_images/product_main_bn.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_main_bn_text {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}
